In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('trends_20251101_010051.csv')

In [3]:
df1.head()

,Unnamed: 0,Economic Growth,term,fetch_date,Economic Situation,Economy,Employment,Employment Rate,Employment Situation,Expenditure,...,Stocks,Taxes,Tourist Attractions,Travel,US Dollar,Unemployment,Unemployment Rate,Utility Bills,Vegetable Prices,Washing Machine Price
0,0,42.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,90.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,51.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,48.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,60.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df1.shape

(10292, 65)

In [14]:
df1.columns.values

array(['Unnamed: 0', 'Economic Growth', 'term', 'fetch_date',
       'Economic Situation', 'Economy', 'Employment', 'Employment Rate',
       'Employment Situation', 'Expenditure', 'Failure',
       'Financial Investment', 'Financial Markets', 'Financing',
       'Food Price', 'Foreign Exchange Rate', 'Gasoline Prices',
       'Housing Prices', 'Import and Export', 'Income',
       'Industrial Value Added', 'Inflation', 'Interest Rate',
       'Interest Rate Cut', 'International Settlement',
       'International Trade', 'Investment', 'Labour',
       'Macroeconomic Control', 'Medical Care', 'Monetary Policy',
       'Money Supply', 'Mortgage', 'National Economy', 'Oil Prices',
       'Peanut Oil Prices', 'Population', 'Pork Price', 'Prices',
       'Production', 'Public Debt', 'Purchase', 'Quality of Life',
       'RMB Exchange Rate', 'Recession', 'Recovery',
       'Refrigerator Prices', 'Rent', 'Retirement', 'Sales', 'Saving',
       'Savings', 'Smart TV Prices', 'Social Security', 'Stock Market',
       'Stocks', 'Taxes', 'Tourist Attractions', 'Travel', 'US Dollar',
       'Unemployment', 'Unemployment Rate', 'Utility Bills',
       'Vegetable Prices', 'Washing Machine Price'], dtype=object)

In [19]:
data=pd.DataFrame()

for i in df1.columns.values:
    data[i]=df1[i][df1[i].notna()]

In [27]:
df1[df1.notna()]

,Unnamed: 0,Economic Growth,term,fetch_date,Economic Situation,Economy,Employment,Employment Rate,Employment Situation,Expenditure,...,Stocks,Taxes,Tourist Attractions,Travel,US Dollar,Unemployment,Unemployment Rate,Utility Bills,Vegetable Prices,Washing Machine Price
0,0,42.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,90.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,51.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,48.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,60.0,Economic Growth,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10287,10287,NaN,Washing Machine Price,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
10288,10288,NaN,Washing Machine Price,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
10289,10289,NaN,Washing Machine Price,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0
10290,10290,NaN,Washing Machine Price,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0
10291,10291,NaN,Washing Machine Price,2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0

In [32]:
df1['Economic Growth'][df1['Economic Growth'].notna()]

0      42.0
1      90.0
2      51.0
3      48.0
4      60.0
       ...
161    31.0
162    31.0
163    32.0
164    51.0
165    23.0
Name: Economic Growth, Length: 166, dtype: float64

In [35]:
12*13+10

166

In [36]:
25-12

13